<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="NETStandard.Library" version="2.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.4" manuallyInstalled="true" />
  <package id="ZXing.Net" version="0.16.9" manuallyInstalled="true" />
</packages>